#colorsSelector {
    background-color: gray;
    padding: 80px;
    margin-top: 200px;
}

.colorItem.colorBlue {
    float: left;
    margin-left: 12vw;
    padding: 20px;
    background-color: blue;
}

.colorItem.colorBlack {
    float: left;
    margin-left: 12vw;
    padding: 20px;
    background-color: black;
}

.colorItem.colorWhite {
    float: left;
    margin-left: 12vw;
    padding: 20px;
    background-color: aliceblue;
}