.selected {
    border: 2px solid red;
}

.green {
    color: green;
}

.textbox {
    width: 400px;
    display: block;
    background-color: #e0e0e0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.greenBg {
    background-color: #43A047;
}